NODE_ENV=development
PORT=3001

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=whereisit

JWT_SECRET=JWTSECRET
JWT_EXPIRES_IN=1h

FIELD_ENC_KEY_BASE64=32byte_key_base64

UPLOAD_DIR=uploads
MAX_FILE_MB=10